
<div class="container-fluid main_div">
    <div class="row">
        <div class="col-md-8 col-lg-8 col-sm-12 content_div">
            <h1 *ngIf="isAboutUs">About Us</h1>
            <h1 *ngIf="isWhyChooseUs" [ngClass]="{'why_choose_heading':isWhyChooseUs}">Why Choose Us</h1>
            <ng-container *ngIf="isAboutUs">
                <div class="row r_p_ab" *ngFor="let item of aboutUsDataArray">
                    <h3>{{item.heading}}</h3>
                    <p>{{item.subHeading}}</p>
                    <hr>
                </div>
            </ng-container>

            <ng-container *ngIf="isWhyChooseUs">
                <div class="row r_p_ab" *ngFor="let item of whyChooseUsDataArray">
                    <h3>{{item.heading}}</h3>
                    <p>{{item.subHeading}}</p>
                    <hr>
                </div>
            </ng-container>
      
        </div>
        <div class="col-md-4 col-lg-4 col-sm-12 i_di">
            <img src="assets/images/katthy-k-mal-FBX_qonbn5M-unsplash.jpg" alt="about_us">
        </div>
    </div>

 
</div>