
<div class="container-fluid main_div">
    <div class="row">
        <div class="col-md-8 col-lg-8 col-sm-12 content_div">
            <h1>About Us</h1>
            <div class="row r_p_ab" *ngFor="let item of aboutUsDataArray">
                <h3>{{item.subheading}}</h3>
                <p>{{item.content}}</p>
                <hr>
            </div>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-12 i_di">
            <img src="assets/images/katthy-k-mal-FBX_qonbn5M-unsplash.jpg" alt="about_us">
        </div>
    </div>

 
</div>