<div class="main_div">
  <h1>About Us</h1>
  <img src="assets/page-header-default.jpg" alt="" />

  <div class="breadcrumb_div">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">About Us</li>
      </ol>
    </nav>
  </div>
</div>


<div class="content_div container">

    <div class="row">
        <div class="col-lg-6 responsive" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="50">
            <h1 class="about_us_head"> <span>Who</span> We Are</h1>

            <h3 class="leaders_head">Leaders in External Development Works</h3>

            <div class="image_div">

                <div class="row">
                    <div class="col-lg-2 image_div">
                <img src="assets/istockphoto-495617382-612x612-removebg-preview.png" alt="">
                    </div>
                    <div class="col-md-auto">
                        <h2>Since 1996,
                            <br>
                            Operating In India.
                        </h2>
                    </div>
                </div>
               
            </div>
         
            <div class="about_company_div">
                <p>Sinosef Enterprises Pvt. Ltd. is company who has excelled in external development works like roads, services, hardscape, softscape, external Electrical works, boundry Works, beside civil structure & finishing works. This company has done several projects and has delivered excellent projects to the clients. This company was established in 1996 and has been prospering ever since. We build excellence, we deliver excellence. We assure to give the best services to our clients and we have been successful in doing that. We will try assuring the best in the future also. We believe in giving quality and speed. We are the company who u can look upon, rely upon. Quality and speed redefined.</p>
            </div>

            <div class="our_services">
                <button class="our_services_btn">Our Services</button>
            </div>
           
        </div>
        <div class="col-lg-6 image_box"  data-aos="fade-down" data-aos-duration="1000" data-aos-delay="50">
            <img src="assets/shape-1.png" alt="">
            <div class="image_one">
                <img src="assets/about-img_2.jpg" alt="">
            </div>
            <div class="image_two">
                <img src="assets/11.jpg" alt="">
            </div>

            <div class="image_three">
                <div class="image_three_internal">
                    <h1>making what's possible in <br>
                    External Development</h1>
                        <p>/Anonymous</p>
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
    
</div>



<div class="container-fluid director_div_main">
    <section class="director_div">

        <div class="d-flex justify-content-center">
            <h1 class="director_heading">
                Our Director
            </h1>
        </div>
      
        <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-12 d-flex justify-content-center align-items-center position-relative" data-aos="slide-right" data-aos-duration="1000" data-aos-delay="150">
                <img class="right_strips" src="assets/figure75.png" alt="" #rightStrips>
                <img class="left_circle" src="assets/figure73.png" alt="" #leftCircle>
                <div class="image_div_two" (mouseover)="lightBulbs()" (mouseleave)="switchOffBulbs()">
                    <img src="../../../assets/portrait-successful-man-having-stubble-posing-with-broad-smile-keeping-arms-folded.png" alt="director_img">
                </div>
              
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12" data-aos="slide-left" data-aos-duration="1000" data-aos-delay="150">
               
                <div class="about_director_div" >
                    <p>
                        Mr. Avinash Gupta is the director of Sinosef Enterprises Pvt Ltd. He completed his Bachelors’ degree in engineering and Masters’ degree in Management. He has an extensive experience in Construction and property development. He is a professional engineer and proficient man. The company was established by him in the year 1996. He has taken the company to the highest level by his passion of work, ambitious nature and supportive behavior. Today the company is among the best.
                    </p>
                </div>

                <div class="row d-inline-block">
                    <div class="col-md-auto director_links">
                        <i class="fa fa-facebook-square" aria-hidden="true"></i>
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </div>
                </div>
                
            </div>
        </div>
    </section>  
</div>


<div class="container-fluid company_vision_main">
  
    <div class="our_mission_div">   
        <div class="mission_heading">
            <h1> <span>Our</span> Business</h1>
            <h5>Stand From the Rest</h5>
        </div>  
        <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-12 our_mission_right_img_div" data-aos="flip-left" data-aos-duration="2000" data-aos-delay="200">
                <img class="our_mission_img_left" src="assets/10.jpg" alt="">
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12 our_mission_right_cont_div">
                <h1 class="about_company_heading">Our Missions</h1>
                <p class="about_company_p">Our mission which guides us in our all construction endeavors is a three point promise, meticulously chalked out to ensure that our brand becomes synonymous with the highest standards in construction practices quality – today, tomorrow and in the coming decades. Designing living spaces that exude the tripartite hallmarks of style, understated luxury and homely warmth. A continuous infusion of the best available talents from across the industry – innovative, far sighted visionaries giving Sinosef Real Estate a clear competitive advantage in delivering the best in class. Never losing touch with the poignant realities of our country and thus making every possible effort to empower and make a positive difference to lives of our people and the society at large.</p>
            </div>
        </div>
        <div class="row our_vision">
            <div class="col-md-6 col-lg-6 col-sm-12 our_vision_right_img_div" data-aos="flip-right" data-aos-duration="2000" data-aos-delay="200">
                <img class="our_vision_img_right" src="assets/9.jpg" alt="">
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12 our_vision_right_cont_div">
                <h1 class="about_company_heading">Our Vision</h1>
                <p class="about_company_p">To change the industry of conventional real estate construction practices, championing excellence—in craftsmanship, planning and service. The greatest residential architectural marvels of the world shall rise here, defining luxury as a lifestyle lived every day.</p>
            </div>
        </div>
    </div>

</div>