@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

.carousel-item > img{
    height: 91vh !important;
}

.carousel-item::before{
    content: "";
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.4);
}

.carousel-caption{
    position: absolute;
    top: 276px;
    right: 29%;
}
.carousel-caption > h5{
    // position: relative;
    bottom: 237px;
    right: 273px;
    font-size: 51px;
    text-transform: uppercase;
    font-family: "Roboto Slab", serif;
    font-weight: 900;
    word-spacing: 3px;
    color: #fff;
    overflow: hidden;
    white-space: nowrap; 
    margin: 0 auto;
    text-align: right;

}


.carousel-caption > h5 > span{
    color: #fff;
}

.carousel-caption > p{
    bottom: 233px;
    right: 298px;
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'Merriweather', serif;
    font-weight: 700;
    word-spacing: 3px;
    line-height: 30px;
    color: #fff;
    text-align: right;
}

@media (max-width:768px){
    .carousel-caption{
        right: 10%;
        top: 41%;
    }
    .carousel-caption > h5{
        letter-spacing: 3px;
        word-spacing: 0;
        font-size: 20px;
        margin-bottom: 20px;
        text-align: center;
    }
    .carousel-caption > p{
        letter-spacing: 1px;
        text-align: center;
        word-spacing: 1px;

    }

    .carousel-item > img{
        height: 100vh !important;
    }
}

@media screen and (min-width:770px) and (max-width:1024px) {
    .carousel-caption{
        right: 180px;
        top: 278px;
    }
}

@media screen and (min-width:360px) and (max-width:740px) {
    .carousel-caption{
        right: 35px;
        top:39%;
    }

    .carousel-caption > h5{
        font-size: 20px;
    }
    .carousel-caption > p{
        font-size: 15px;
    }
}
