@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

.carousel-item > img{
    height: 100vh !important;
}

.carousel-item::before{
    content: "";
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.6);
}

.carousel-caption{
    right: 554px;
    position: absolute;
    top: 292px;
}
.carousel-caption > h5{
    // position: relative;
    bottom: 237px;
    right: 273px;
    font-size: 61px;
    text-transform: uppercase;
    font-family: "Roboto Slab", serif;
    font-weight: 700;
    letter-spacing: 0.9rem;
    word-spacing: 3px;
    color: #fff;

    overflow: hidden;
    border-right: 5px solid #ee5253;
    white-space: nowrap; 
    margin: 0 auto;
    // letter-spacing: .15em; 
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #ee5253; }
  }


.carousel-caption > h5 > span{
    color: #2eca6a;
}

.carousel-caption > p{
    // position: relative;
    bottom: 233px;
    right: 298px;
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'Merriweather', serif;
    font-weight: 700;
    letter-spacing: 0.9rem;
    word-spacing: 3px;
    line-height: 30px;
    color: #fff;
}

@media (max-width:768px){
    .carousel-caption{
        right: 35px;
        top: 142px;
    }
    .carousel-caption > h5{
        letter-spacing: 3px;
        word-spacing: 0;
        font-size: 20px;
        margin-bottom: 20px;
    }
    .carousel-caption > p{
        letter-spacing: 2px;

    }
    .carousel-item > img{
        height: 60vh !important;
    }
}