<div class="main_div" id="top_head">
    <h1>OnGoing Projects</h1>
    <img src="assets/page-header-default.jpg" alt="" />
  
    <div class="breadcrumb_div">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active"><a href="#">Projects</a></li>
          <li class="breadcrumb-item active" aria-current="page">OnGoing</li>
        </ol>
      </nav>
    </div>
  </div>


  <div class="container main_container_div">
    <div class="row">
        <div class="col-md-6 col-lg-6 col-sm-12">
            <div class="number_div"> <span>1</span></div>
            <h1 class="heading">OnGoing Projects</h1>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-12 heading_container">
            <h1>OnGoing Projects</h1>
        </div>
    </div>
   
  </div>




  <div class="container-fluid company_vision_main">
  
    <div class="our_mission_div">   
       
        <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-12 our_mission_right_img_div" data-aos="flip-left" data-aos-duration="2000" data-aos-delay="200">
                <img class="our_mission_img_left" src="assets/10.jpg" alt="">
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12 our_mission_right_cont_div">
                <h1 class="about_company_heading">Tata</h1>
                <div class="about_project">
                    <span>TATA PRIMANTI PROJECT</span>
                    <span>SECTOR 72 PRIMANTI GURGAON</span>
                     <span>EXTERNAL DEVELOPMENT</span>    
                </div>
            </div>
        </div>
        <div class="row our_vision">
            <div class="col-md-6 col-lg-6 col-sm-12 our_vision_right_img_div" data-aos="flip-right" data-aos-duration="2000" data-aos-delay="200">
                <img class="our_vision_img_right" src="assets/ongoing1.jpg" alt="">
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12 our_vision_right_cont_div">
                <h1 class="about_company_heading">Godrej</h1>
                <div class="about_project">
                    <span>TATA PRIMANTI PROJECT</span>
                    <span>SECTOR 72 PRIMANTI GURGAON</span>
                     <span>EXTERNAL DEVELOPMENT</span>    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-12 our_mission_right_img_div" data-aos="flip-left" data-aos-duration="2000" data-aos-delay="200">
                <img class="our_mission_img_left" src="assets/10.jpg" alt="">
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12 our_mission_right_cont_div">
                <h1 class="about_company_heading">IREO</h1>
                <div class="about_project">
                    <span>VICTOR VALLEY PROJECT</span>
                    <span>SECTOR 67 GURGAON</span>
                     <span>PHE, Road and Hardscope</span>    
                </div>
            </div>
        </div>
        <div class="row our_vision">
            <div class="col-md-6 col-lg-6 col-sm-12 our_vision_right_img_div" data-aos="flip-right" data-aos-duration="2000" data-aos-delay="200">
                <img class="our_vision_img_right" src="assets/9.jpg" alt="">
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12 our_vision_right_cont_div">
                <h1 class="about_company_heading">Godrej</h1>
                <div class="about_project">
                    <span>CREST PROJECT</span>
                    <span>Sector-27 Greater Noida</span>
                     <span>PHE, Road and Hardscope</span>    
                </div>
            </div>
        </div>
        
    </div>

</div>

<div class="container need_info_main">
    <div class="need_info">
        <span>Need More Information?</span> <span class="contact" (click)="routeToContact()"> Contact Us</span>
    </div>
</div>