<div class="main_div">
    <h1>Gallery</h1>
    <img src="assets/contactus.jpg" alt="" />
  
    <div class="breadcrumb_div">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active"><a href="#">Gallery</a></li>
          <li class="breadcrumb-item active" aria-current="page">Videos</li>
        </ol>
      </nav>
    </div>
  </div>


<div class="container heading_container">
    <h1>Video Gallery</h1>
  </div>

  <div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="our-team">
                <img src="assets/gallery1.jpg" alt="team member" class="img-responsive">
              
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
            <div class="our-team">
                <img src="assets/gallery2.jpg" alt="team member" class="img-responsive">
            
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
            <div class="our-team">
                <img src="assets/gallery3.jpg" alt="team member" class="img-responsive">
               
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
            <div class="our-team">
                <img src="assets/gallery4.jpg" alt="team member" class="img-responsive">
            
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
            <div class="our-team">
                <img src="assets/gallery5.jpg" alt="team member" class="img-responsive">
               
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
            <div class="our-team">
                <img src="assets/gallery6.jpg" alt="team member" class="img-responsive">
            </div>
        </div>
    </div>
</div>