@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.main_div > img{
    max-width: 100%;
    width: 100%;
    /* max-height: 100%; */
    display: block;
    /* height: 50%; */
    /* height: auto; */
    height: 55vh;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main_div::before{
    content: "";
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.5);
}

.main_div{
    position: relative;
}

.main_div > h1{
    position: absolute;
    color: white;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 30%;
    text-align: center;
    text-transform: uppercase;
    // font-family: "Montserrat", sans-serif;
    font-family: "Roboto Slab", serif;

    font-weight: 600;
    letter-spacing: 5px;
    word-spacing: 3px;
    font-size: 3rem;
    width: 100%;
}

.breadcrumb_div{
    position: absolute;
    top: 50%;
    left: 44%;
    z-index: 999;
}

.active::before {
    font-family: 'FontAwesome';
    content: "\f105";
    color: #fff;
}

.breadcrumb-item{
    font-size: 1.8rem;
    font-family: "Roboto Slab", serif;
    letter-spacing: 2px;
    font-weight: 500;
}

.breadcrumb-item > a{
    text-decoration: none;
    color: #fff;
}

.active{
    color: #fab915;
}


.heading_div > h1:first-child{
    font-size: 24px;
    color: #444;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 900;
    font-family: "Roboto Slab", serif;
    margin-left: 10px;

}

.heading_div > h1:nth-child(2){

    font-size: 50px;
    margin-bottom: 45px;
    color: #111;
    font-weight: 800;
    font-family: "Montserrat", sans-serif;
    text-transform: capitalize;
    margin-top: 15px;
    text-align: left;

}

.heading_p{
    font-size: 1.5rem;
    line-height: 25px;
    color: #444;
    font-family: "Montserrat", sans-serif;
    // font-weight: 400;
    font-weight: 500;
}

.main_contact_div{
    margin-top: 50px;
    margin-bottom: 50px;
}

.left_main_div{
    flex-direction: column;
}

.example-full-width{
    width: 100%;
    font-size: 14px !important;
}

.form_div{
    margin-top: 40px;
}


::placeholder{
    color: #111;
}