<div class="container-fluid">
    <div class="row main_div_footer">
        <div class="col left_div" data-aos="slide-right" data-aos-duration="1000" data-aos-delay="50">
            <div class="company_name">
                <h1 class="contact_us_heading">Contact Us</h1>
            </div>
            <div class="company_details" >
                <p> <i class="fa fa-home" aria-hidden="true"></i> Sinosef Enterprises Private Limited</p>
                <p> <i class="fa fa-map-marker" aria-hidden="true"></i> Plot No C-2276, Sushant Lok Phase-1, Gurgaon, Haryana 122001</p>
                <p> <i class="fa fa-phone" aria-hidden="true"></i> 0124 - 4817000 (30 LINES)</p>
                <p> <i class="fa fa-envelope" aria-hidden="true"></i> info@sinosef.com</p>
            </div>
          
        </div>
        <div class="col right_div" data-aos="slide-left" data-aos-duration="1000" data-aos-delay="50">
            <div class="company_logo text-center">
                <img src="../../assets/Illustration (1) (1).png" alt="">
            </div>

            <div class="nav-links">
               <p>Home</p>
               <p>About Us</p>
               <p>Projects</p>
               <p>Contact</p>
               <p class="career">Career</p>
            </div>
            <div class="footer_right_icons">
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
            <i class="fa fa-instagram" aria-hidden="true"></i>
            <i class="fa fa-youtube" aria-hidden="true"></i>
            </div>

            <div class="rights_div">
                <p><i class="fa fa-at" aria-hidden="true"></i> 2022 <span>All Rights Reserved SinoSef Enterprises Pvt Ltd</span></p>
            </div>
            
        </div>
    </div>
</div>