@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.footer_div{
    min-height: 30%;
    max-height: 50%;
    background-color: #fff;
    color: #000;
}

.img_div{
    display: flex;
    align-items: center;
    padding: 18px 0;
    min-height: 50px;
    max-height: 200px;
    height: 120px;
    margin-top: 12px;
}

.img_div > img{
    width: 35%;
    margin-left: 10rem;
}

.main_div{
    margin: 0px 0 30px 0;
}

.address_div > span{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    display: block;
    margin: 10px 0;
    cursor: pointer;
    letter-spacing: 1.3px;
    text-transform: capitalize;
    color: #000;
    
}

.address_div > span > i{
    margin-right: 0.4rem;
    font-size: 21px;
    transition: ease .4s;
}
.address_div > span > i:hover{
    color: #fab915;
}

.address_row{
    padding: 26px 0;
}

.contact_div > span{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    display: block;
    margin: 10px 0;
    cursor: pointer;
    letter-spacing: 1.3px;
}

.contact_div > span:last-child{
    font-weight: 800;
}

.contact_div > span:last-child:hover{
    color:#ee5253;
}

.contact_div > span > i{
    margin-right: 4px;
    font-size: 21px;
}

.contact_div > span > i:hover{
    color: #fab915
}

.copyright_div > h6{
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    font-size: 12px;
    cursor: pointer;
}

.copyright_div > h6 > i{
    margin-right: 4px;
}

@media (max-width:768px){
    .img_div > img{
        margin-left: 4rem;
    }
}