<div class="container-fluid footer_div">
    <div class="row main_div">
        <div class="col-md-6 col-lg-6 col-sm-12 img_div">
            <img src="assets/logo/sinosef-logo.png" alt="">
        </div>
        <div class="col-md-6 col-lg-6 col-sm-12">
            <div class="row address_row">
                <div class="col-md-6 col-lg-6 sol-sm-12 address_div">
                    <span><i class="fa fa-home" aria-hidden="true"></i>Sinosef Enterprises Private Limited</span>
                      <span><i class="fa fa-map-marker" aria-hidden="true"></i>Plot No C-2276, Sushant Lok Phase-1, Gurgaon, Haryana 122001</span>
                </div>
                <div class="col-md-6 col-lg-6 sol-sm-12 contact_div">
                    <span><i class="fa fa-phone" aria-hidden="true"></i>0124 - 4817000</span>
                    <span><i class="fa fa-envelope-o" aria-hidden="true"></i>info@sinosef.com</span> 
                    <span (click)="downloadCompanyProfile()"><i class="fa fa-file-o" aria-hidden="true" ></i>Download Company Profile</span> 
                </div>
            </div>
        </div>
        <div class="row copyright_div">

            <h6><i class="fa fa-copyright" aria-hidden="true"></i>SINOSEF ENTERPRISES PRIVATE LIMITED. ALL RIGHTS RESERVED.</h6>
   
    </div>
    </div>

    
</div>