@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

.main_div{
    height: 100vh;
}

.form_div{
    padding: 30px 0 30px 100px;
}


.form_div > h1{
    text-transform: uppercase;
    font-family: 'Roboto Slab', serif;
    font-size: 40px;
    font-weight: 600;
    color: #444;
    letter-spacing: 1.5px;

}

.form_div > p{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: #111;
    width: 45%;
    margin-top: 26px;
}

.have_questions{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #111;
    width: 45%;
    display: block;
    
}

.pc_f_d{
    display: flex;
    flex-direction: column;
}

.pc_f_r_d{
    display: flex;
    flex-direction: column;
}

.f_d{
    margin-top: 45px;
}

.button-9 {
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 18%;
}

.button-9:disabled {
  cursor: default;
}

.button-9:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

.b_d{
    justify-content: center;
    align-items: center;
}

.r_i_d{
    height: 100vh;
}

.r_i_d >img{
    max-width: 100%;
    max-height: 100%;
}

.a_c{
    margin-top: 30px;
    margin-bottom: 30px;
}

.a_c > .row > h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #111;
    position: relative;
    text-transform: uppercase;
}

.a_c > .row > h1::before{
    content: "";
    width: 155px;
    height: 2px;
    background: #ee5253;
    position: absolute;
    left: 14px;
    bottom: -2px;
    transition: 0.5s;
}

.a_c >.row > .col:first-child{
    border-right:1px solid black;
}

.reg_off_d {
    margin-top: 15px;
}

.reg_off_d > h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #111;
    
}

.reg_off_d > p{
    font-family: "Roboto Slab", serif;
    font-size: 16px;
    font-weight: 300;
    color: #111;
}

.reg_off_d > p > i{
    margin-right: 10px;
}