<div class="container-fluid main_div">
  <div class="row internal_main_div">
    <div class="col-md-8 col-lg-8 col-sm-12 form_div">
      <h1>How We Can Help ?</h1>
      <p>Get In Touch With Our Company</p>
      <br />
      <span class="have_questions">
        Fill Out our Contact Form, and we'll put you in touch with the right
        people.
      </span>
      <form>
        <div class="row f_d">
          <div class="col-md-6 col-lg-6 col-sm-12 pc_f_d">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Name</mat-label>
              <input matInput placeholder="Name" autocomplete="off" />
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Email" autocomplete="off" />
            </mat-form-field>
          </div>
          <div class="col-md-6 col-lg-6 col-sm-12 pc_f_r_d">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Phone No</mat-label>
              <input matInput placeholder="Phone Number" autocomplete="off" />
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Question/Message</mat-label>
              <input
                matInput
                placeholder="Question/Message"
                autocomplete="off"
              />
            </mat-form-field>
          </div>
          <div class="row b_d">
            <button class="button-9">Submit</button>
          </div>
        </div>
      </form>
    </div>

    <div class="col-md-4 col-lg-4 col-sm-12 r_i_d">
      <img src="assets/images/michal-biernat-h0xEUQXzU38-unsplash.jpg" alt="" />
    </div>
  </div>
</div>

<div class="container a_c">
  <div class="row">
    <h1>Reach Us</h1>
    <div class="col reg_off_d">
      <h1>Registered Office</h1>
      <p><i class="fa fa-map-marker" aria-hidden="true"></i>Plot No. C-270, Shushant Lok Phase-I, Gurgaon, Haryana(122001)</p>
      <p><i class="fa fa-phone" aria-hidden="true"></i>0124 - 4272253 (30 lines)</p>
      <p><i class="fa fa-envelope-o" aria-hidden="true"></i>info@sinosef.com,Seplag73@gmail.com</p>
    </div>
    <div class="col reg_off_d">
        <h1>Head Office</h1>
      <p><i class="fa fa-map-marker" aria-hidden="true"></i>Plot No. C-2276, Shushant Lok Phase-I, Gurgaon, Haryana(122001)</p>
      <p><i class="fa fa-phone" aria-hidden="true"></i>0124 - 4272253 (30 lines)</p>
      <p><i class="fa fa-envelope-o" aria-hidden="true"></i>info@sinosef.com,Seplag73@gmail.com</p>
    </div>
    <div class="col reg_off_d">
        <h1>Find Us On</h1>
      <p><i class="fa fa-facebook" aria-hidden="true"></i>Facebook</p>
      <p><i class="fa fa-twitter" aria-hidden="true"></i>Twitter</p>
      <p><i class="fa fa-instagram" aria-hidden="true"></i>Instagram</p>
    </div>
  </div>
</div>
