.main_div > img{
    max-width: 100%;
    width: 100%;
    display: block;
  
    height: 55vh;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main_div::before{
    content: "";
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.5);
}

.main_div{
    position: relative;
}

.main_div > h1{
    position: absolute;
    color: white;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 30%;
    text-align: center;
    text-transform: uppercase;
    // font-family: "Montserrat", sans-serif;
    font-family: "Roboto Slab", serif;

    font-weight: 600;
    letter-spacing: 5px;
    word-spacing: 3px;
    font-size: 3rem;
    width: 100%;
}

.breadcrumb_div{
    position: absolute;
    top: 42%;
    left: 43%;
    z-index: 999;
}

.active::before {
    font-family: 'FontAwesome';
    content: "\f105";
    color: #fff;
}

.breadcrumb-item{
    font-size: 1.8rem;
    font-family: "Roboto Slab", serif;
    letter-spacing: 2px;
    font-weight: 500;
}

.breadcrumb-item > a{
    text-decoration: none;
    color: #fff;
}

.active{
    color: #fab915;
}

.main{
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main_heading{
    font-family: 'Merriweather', serif;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.9px;
    color: #222f3e;
}
h3{
    margin: 0;
    font-family: 'Merriweather', serif;

}

.our-team{
    text-align: center;
    position: relative;
    color: #fff;
    margin-bottom: 20px;
    cursor: pointer;
    height: 267px;
}
.our-team:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    transition:all 0.3s ease 0s;
    opacity: 0;
}
.our-team:hover:before{
    opacity: 1;
    
}

.our-team:hover{
    animation: pulse;
    animation-duration: 2s;
}
.our-team img{
max-width: 100%;
max-height: 100%;
background-repeat: no-repeat;
}
.our-team .team-content{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 13px 0;
    background-color: rgba(134,16,74,0.9);
    transition:all 0.3s ease 0s;
}
.our-team:hover .team-content{
    bottom: 20%;
}
.our-team .team-content .name{
    font-size: 22px;
    font-weight: 800;
    letter-spacing: 1px;
    display: block;
    margin-bottom: 7px;
    text-transform: uppercase;
    transition:all 0.3s ease 0s;
}
.our-team:hover .team-content .name{
    transform:translateY(30px);
    transition-delay:0.3s;
}
.our-team .team-content .post{
    font-size: 17px;
    display: block;
    transition:all 0.3s ease 0s;
    text-transform: capitalize;
}
.our-team:hover .team-content .post{
    transform:translateY(-30px);
    transition-delay:0.3s;
}
.main_p{
    width: 80%;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    color: #6e6e6e;
}
