<div class="main_div">
    <h1>Our Clients</h1>
    <img src="assets/contactus.jpg" alt="" />
  
    <div class="breadcrumb_div">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Our Clients</li>
        </ol>
      </nav>
    </div>
  </div>

  <div class="container main">
    <h1 class="main_heading">Clients Who trust Us</h1>
    <p class="main_p">We have continued to be innovators for our industry, with an entrepreneurial culture that is never satisfied with the status quo, for ourselves or for our clients.</p>
  </div>


  <div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="our-team">
                <img src="assets/godrej.jpg" alt="team member" class="img-responsive">
                <div class="team-content">
                    <h3 class="name">Godrej Properties</h3>
                    <span class="post">Hoses Design</span>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
            <div class="our-team">
                <img src="assets/clients2.png" alt="team member" class="img-responsive">
                <div class="team-content">
                    <h3 class="name">Signature Global</h3>
                    <span class="post">Hoses Design</span>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
            <div class="our-team">
                <img src="assets/clients3.jpg" alt="team member" class="img-responsive">
                <div class="team-content">
                    <h3 class="name">Mata Amritanandmayi Math</h3>
                    <span class="post">Hoses Design</span>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
            <div class="our-team">
                <img src="assets/clients4.jpg" alt="team member" class="img-responsive">
                <div class="team-content">
                    <h3 class="name">Hero Group</h3>
                    <span class="post">Hero Realty Ltd</span>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
            <div class="our-team">
                <img src="assets/clients5.jpg" alt="team member" class="img-responsive">
                <div class="team-content">
                    <h3 class="name">Condor Techspace</h3>
                    <span class="post">Hoses Design</span>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
            <div class="our-team">
                <img src="assets/clients6.jpg" alt="team member" class="img-responsive">
                <div class="team-content">
                    <h3 class="name">Experion</h3>
                    <span class="post">Hoses Design</span>
                </div>
            </div>
        </div>
    </div>
</div>
