<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"> 
        <img src="assets/sinosef-logo.png" alt="company-logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item no-dropDown">
            <a class="nav-link active" aria-current="page" (click)="routeToComponent('/')">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Company
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Why Choose Us</a></li>
              <li><a class="dropdown-item" (click)="routeToComponent('ourClients')">Our Clients</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Projects
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" (click)="routeToComponent('ongoing')">OnGoing</a></li>
              <li><a class="dropdown-item" (click)="routeToComponent('completed')">Completed</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             Gallery 
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" (click)="routeToComponent('images')">Images</a></li>
              <li><a class="dropdown-item" (click)="routeToComponent('video')">Videos</a></li>
            </ul>
          </li>
  
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" (click)="routeToComponent('career')">Career</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" (click)="routeToComponent('contact')">Contact Us</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" (click)="routeToComponent('about')">About Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>