<ng-container *ngIf="showImage">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-lg-8 col-sm-12 img" [appMainDiv]="divLeftSide" >
               <app-shared-card [imagesArray]="galleryImagesList"></app-shared-card>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12 main" [appMainDiv]="divSide">
                <h1 class="h1_main_heading main_h">Image Gallery</h1>
                <p class="p_main_paragraph main_p">At Sinosef, we are passionate about what we do. As part of the Sinosef Enterprises Pvt. Ltd. we have an extensive, diverse and impressive portfolio of completed projects. Operating throughout India since Dec. 1996, we are a company which is built on strong foundations of integrity and reliability. Sinosef offers a team with the expertise to deliver, one that understands client demands, and one that meets people’s needs through exceeding expectations. This expertise means that our clients, and the communities they serve, enjoy the reassurance of an award-winning track record and an unmatched reputation for value.</p>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="showVideo">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-lg-8 col-sm-12 img" [appMainDiv]="divLeftSide" >
               <app-shared-card [imagesArray]="galleryVideosList" [from]="'videos'"></app-shared-card>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12 main" [appMainDiv]="divSide">
                <h1 class="h1_main_heading main_h">Video Gallery</h1>
                <p class="p_main_paragraph main_p">At Sinosef, we are passionate about what we do. As part of the Sinosef Enterprises Pvt. Ltd. we have an extensive, diverse and impressive portfolio of completed projects. Operating throughout India since Dec. 1996, we are a company which is built on strong foundations of integrity and reliability. Sinosef offers a team with the expertise to deliver, one that understands client demands, and one that meets people’s needs through exceeding expectations. This expertise means that our clients, and the communities they serve, enjoy the reassurance of an award-winning track record and an unmatched reputation for value.</p>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="showCertificates">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-lg-8 col-sm-12 img" [appMainDiv]="divLeftSide" >
               <app-shared-card [imagesArray]="certificatesList" [from]="'certificate'"></app-shared-card>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12 main" [appMainDiv]="divSide">
                <h1 class="h1_main_heading main_h">Certificates</h1>
                <p class="p_main_paragraph main_p">At Sinosef, we are passionate about what we do. As part of the Sinosef Enterprises Pvt. Ltd. we have an extensive, diverse and impressive portfolio of completed projects. Operating throughout India since Dec. 1996, we are a company which is built on strong foundations of integrity and reliability. Sinosef offers a team with the expertise to deliver, one that understands client demands, and one that meets people’s needs through exceeding expectations. This expertise means that our clients, and the communities they serve, enjoy the reassurance of an award-winning track record and an unmatched reputation for value.</p>
            </div>
        </div>
    </div>
</ng-container>



<hr>