@media (max-width:768px){
    .row{
        flex-direction: column-reverse;
    }
    .main{
        padding: 0 !important;
    }
    .main_p{
        text-align: center;
        margin-top: 15px;
    }
    .main_h{
        margin-left: 28px;
    }
    .img{
        padding: 0 !important;
    }
}