<div class="main_div" id="top_head">
    <h1>Completed Projects</h1>
    <img src="assets/page-header-default.jpg" alt="" />
  
    <div class="breadcrumb_div">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active"><a href="#">Projects</a></li>
          <li class="breadcrumb-item active" aria-current="page">Completed</li>
        </ol>
      </nav>
    </div>
  </div>


  <div class="container main_container_div">
    <div class="row">
        <div class="col-md-6 col-lg-6 col-sm-12">
            <div class="number_div"> <span>1</span></div>
            <h1 class="heading">Completed Projects</h1>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-12 heading_container">
            <h1>Completed Projects</h1>
        </div>
    </div>
   
  </div>




  <div class="container-fluid company_vision_main">
  
    <div class="our_mission_div">   
       
        <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-12 our_mission_right_img_div" data-aos="flip-left" data-aos-duration="2000" data-aos-delay="200">
                <img class="our_mission_img_left" src="assets/completed1.jpg" alt="">
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12 our_mission_right_cont_div">
                <h1 class="about_company_heading">DLF</h1>
                <div class="about_project">
                    <span>DLF CYBERCITY PROJECT</span>
                    <span>GURGAON</span>
                     <span>EXTERNAL DEVELOPMENT OF SURFACE PARKING</span>    
                </div>
            </div>
        </div>
        <div class="row our_vision">
            <div class="col-md-6 col-lg-6 col-sm-12 our_vision_right_img_div" data-aos="flip-right" data-aos-duration="2000" data-aos-delay="200">
                <img class="our_vision_img_right" src="assets/completed2.jpg" alt="">
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12 our_vision_right_cont_div">
                <h1 class="about_company_heading">EMAAR MGF</h1>
                <div class="about_project">
                    <span>PALM SPRING</span>
                    <span>GURGAON</span>
                     <span>FINISHING WORK OF 17 STOREY TOWER, ROAD, HARDSCAPE, BASEMENT FINISHES</span>    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-12 our_mission_right_img_div" data-aos="flip-left" data-aos-duration="2000" data-aos-delay="200">
                <img class="our_mission_img_left" src="assets/completed3.jpg" alt="">
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12 our_mission_right_cont_div">
                <h1 class="about_company_heading">MGF</h1>
                <div class="about_project">
                    <span>GURGAON CLUB PROJECT</span>
                    <span>GURGAON</span>
                     <span>STRUCTURE & FINISHING VILLAS</span>    
                </div>
            </div>
        </div>
        <div class="row our_vision">
            <div class="col-md-6 col-lg-6 col-sm-12 our_vision_right_img_div" data-aos="flip-right" data-aos-duration="2000" data-aos-delay="200">
                <img class="our_vision_img_right" src="assets/ongoing1.jpg" alt="">
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12 our_vision_right_cont_div">
                <h1 class="about_company_heading">BPTP</h1>
                <div class="about_project">
                    <span>DEVELOPMENT OF ROAD PROJECT</span>
                    <span>Sector-75, 81, 83 FARIDABAD</span>
                     <span>ROAD WORK</span>    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-12 our_mission_right_img_div" data-aos="flip-left" data-aos-duration="2000" data-aos-delay="200">
                <img class="our_mission_img_left" src="assets/completed4.jpg" alt="">
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12 our_mission_right_cont_div">
                <h1 class="about_company_heading">TATA</h1>
                <div class="about_project">
                    <span>TATA HOUSING PROJECT</span>
                    <span>SECTOR-72 GURGAON</span>
                     <span>DEVELOPMENT WORK FOR RAISINA RESIDENCY</span>    
                </div>
            </div>
        </div>
        <div class="row our_vision">
            <div class="col-md-6 col-lg-6 col-sm-12 our_vision_right_img_div" data-aos="flip-right" data-aos-duration="2000" data-aos-delay="200">
                <img class="our_vision_img_right" src="assets/completed5.jpg" alt="">
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12 our_vision_right_cont_div">
                <h1 class="about_company_heading">ANSALS</h1>
                <div class="about_project">
                    <span>BHILWARA PROJECT</span>
                    <span>BHILWARA</span>
                     <span>SEWERAGE WORK</span>    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-12 our_mission_right_img_div" data-aos="flip-left" data-aos-duration="2000" data-aos-delay="200">
                <img class="our_mission_img_left" src="assets/ongoing1.jpg" alt="">
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12 our_mission_right_cont_div">
                <h1 class="about_company_heading">ELDECO</h1>
                <div class="about_project">
                    <span>DEVELOPMENT OF JALANDHAR PROJECT</span>
                    <span>JALANDHAR PUNJAB</span>
                     <span>EXTERNAL DEVELOPMENT WORK</span>    
                </div>
            </div>
        </div>
        <div class="row our_vision">
            <div class="col-md-6 col-lg-6 col-sm-12 our_vision_right_img_div" data-aos="flip-right" data-aos-duration="2000" data-aos-delay="200">
                <img class="our_vision_img_right" src="assets/ongoing1.jpg" alt="">
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12 our_vision_right_cont_div">
                <h1 class="about_company_heading">DURALINE</h1>
                <div class="about_project">
                    <span>DEVELOPMENT OF NEEMRANA SITE</span>
                    <span>NEEMRANA, RAJASTHAN</span>
                     <span>EXTERNAL DEVELPOMENT & BOUNDARY WALL WORK</span>    
                </div>
            </div>
        </div>

        
    </div>

</div>