
<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"> 
        <img src="assets/logo/sinosef-logo.png" alt="company-logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item no-dropDown">
            <a class="nav-link active" aria-current="page" (click)="routeToComponent('/')" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Company
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" (click)="routeToComponent('about')" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">About Us</a></li>
              <li><a class="dropdown-item" (click)="routeToComponent('whyUs')" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">Why Choose Us</a></li>
              <li><a class="dropdown-item" (click)="routeToComponent('ourClients')" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">Our Clients</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Services
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" (click)="routeToComponent('extDev')" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">External Development</a></li>
              <li><a class="dropdown-item" (click)="routeToComponent('civilSt')" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">Civil Structure</a></li>
              <li><a class="dropdown-item" (click)="routeToComponent('civilFin')" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">Civil Finishing</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Projects
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" (click)="routeToComponent('ongoing')" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">OnGoing</a></li>
              <li><a class="dropdown-item" (click)="routeToComponent('completed')" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">Completed</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             Gallery 
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" (click)="routeToComponent('images')" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">Images</a></li>
              <li><a class="dropdown-item" (click)="routeToComponent('video')" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">Videos</a></li>
            </ul>
          </li>
  
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" (click)="routeToComponent('career')" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">Career</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" (click)="routeToComponent('contact')" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" (click)="routeToComponent('certificates')" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">Certificate</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>