.content_div{
    padding: 30px 0 30px 100px;
}

.content_div > h1{
    text-transform: uppercase;
    font-family: 'Roboto Slab', serif;
    font-size: 40px;
    font-weight: 600;
    color: #222f3e;
    letter-spacing: 1.5px;
    margin: 40px 0;
    position: relative;
    display: inline-block;
}

.content_div > h1::before{
    content: "";
    width: 100%;
    height: 2px;
    background: #ee5253;
    position: absolute;
    left: -1px;
    bottom: -2px;
    transition: 0.5s;
}

.r_p_ab{
    margin: 30px 0;
    // border-bottom: 1px solid #7a7a7a;
}

.r_p_ab > h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 30px;
}

.r_p_ab > ul > li > p{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    word-spacing: 2px;
    letter-spacing: 0.6px;
    margin: 20px 0;
    color: #7a7a7a;;
}

ul {
    list-style-type: none;
}

.i_di > img{
    max-width: 100%;
    max-height: 100%;
    margin-top: 24px;
}

@media (max-width:768px){
    .content_div{
        padding: 0;
    }
    .i_di{
        display: none;
    }
    .content_div > h1{
        margin-bottom: 20px !important;
        margin-left: 15px;
    }
}