
<div class="container-fluid main_div">
    <div class="row">
        <div class="col-md-8 col-lg-8 col-sm-12 content_div">
            <h1>Services</h1>
            <ng-container *ngIf="isExternalDev">
                <div class="row r_p_ab" *ngFor="let item of externalDevData">
                    <h3>{{item.heading}}</h3>
                    <ul>
                        <li *ngFor="let items of item.subHeading">
                           <p> {{items}}</p>
                        </li>
                    </ul>

                    <hr>
                </div>
            </ng-container>
      
        </div>
        <div class="col-md-4 col-lg-4 col-sm-12 i_di">
            <img src="assets/images/katthy-k-mal-FBX_qonbn5M-unsplash.jpg" alt="about_us">
        </div>
    </div>

 
</div>