.he_di{
    padding: 30px 0 30px 100px;
}

.he_di > h1{
    text-transform: uppercase;
    font-family: 'Roboto Slab', serif;
    font-size: 40px;
    font-weight: 600;
    color: #222f3e;
    letter-spacing: 1.5px;
    margin: 20px 0;
    position: relative;
    display: inline-block;
}

.he_di > h1::before{
    content: "";
    width: 100%;
    height: 2px;
    background: #ee5253;
    position: absolute;
    left: -1px;
    bottom: -2px;
    transition: 0.5s;
}

.he_di > p{
    margin-top: 50px;
    color: #444;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1.2px;
    line-height: 30px;

}

.im_di > img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.f_d{
    justify-content: center;
    align-items: center;
}

.f_d > span{
    display: flex;
    justify-content: center;
    border: none;
    background-color: #ee5253;
    width: 9%;
    color: #fff;
    border-radius: 15px;
    align-items: center;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1.2px;
    position: absolute;
    padding: 5px 0;
    line-height: 20px;
    

}
.line{
    border-bottom: 1px solid rgba(74,21,75,.25);
    width: 90%;
}

.container{
    margin-top: 50px;
    margin-bottom: 50px;
}

.l_f_d{
    display: flex;
    flex-direction: column;
}

.r_f_d{
    display: flex;
    flex-direction: column;
}

.main_div_row{
    margin: 40px 0;
}

::placeholder{
    font-family: Arial, Helvetica, sans-serif;
}
.mat-label{
    font-family: 'Poppins', sans-serif;
    
}

.button-9 {
    appearance: button;
    backface-visibility: hidden;
    background-color: #405cf5;
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
    font-size: 100%;
    height: 44px;
    line-height: 1.15;
    margin: 12px 0 0;
    outline: none;
    overflow: hidden;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-transform: none;
    transform: translateZ(0);
    transition: all .2s,box-shadow .08s ease-in;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 18%;
  }
  
  .button-9:disabled {
    cursor: default;
  }
  
  .button-9:focus {
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
  }

  form > .row{
    justify-content: center;
    align-items: center;
  }