<div class="main_div">
  <h1>careers</h1>
  <img src="assets/contactus.jpg" alt="" />

  <div class="breadcrumb_div">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Careers</li>
      </ol>
    </nav>
  </div>
</div>

  <div class="container-fluid main_div_heading">
    <h1>Welcome to Where the future Works</h1>

    <div class="row btn_div">
      <div class="col-md-6 col-lg-6 col-sm-6 responsive">
        <button class="about_us">About Us</button>
      </div>
      <div class="col-md-6 col-lg-6 col-sm-6 responsive">
        <button class="about_us_v">Company Profile</button>

      </div>
    </div>

  </div>

  <div class="container join_div">
    <div class="line"></div>
    <span class="career_class">Join Us Today</span>
  </div>

  <div class="container form_div">

    
        <form class="example-form" [formGroup]="careersForm">
          <mat-form-field  class="example-full-width" appearance="outline">
            <mat-label>Name</mat-label>
            <input type="text" matInput formControlName="name" 
                   placeholder="Name" autocomplete="off">
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Email</mat-label>
            <input type="email" matInput formControlName="email" 
                   placeholder="Email" autocomplete="off">
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Phone No</mat-label>
            <input type="text" matInput formControlName="phoneNumber" 
                   placeholder="Phone Number" autocomplete="off">
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Address</mat-label>
            <input type="text" matInput formControlName="address" 
                   placeholder="Subject" autocomplete="off">
          </mat-form-field>

          <input type="file" id="upload" style="display: none;">
          <label class="input"  for="upload">Upload Resume</label>
     
        </form>
        <button class="sub_btn">Submit</button>

        
  </div>