@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.main_div > img{
    max-width: 100%;
    width: 100%;
    display: block;
  
    height: 55vh;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main_div::before{
    content: "";
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.5);
}

.main_div{
    position: relative;
}

.main_div > h1{
    position: absolute;
    color: white;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 30%;
    text-align: center;
    text-transform: uppercase;
    // font-family: "Montserrat", sans-serif;
    font-family: "Roboto Slab", serif;

    font-weight: 600;
    letter-spacing: 5px;
    word-spacing: 3px;
    font-size: 3rem;
    width: 100%;
}

.breadcrumb_div{
    position: absolute;
    top: 42%;
    left: 45%;
    z-index: 999;
}

.active::before {
    font-family: 'FontAwesome';
    content: "\f105";
    color: #fff;
}

.breadcrumb-item{
    font-size: 1.8rem;
    font-family: "Roboto Slab", serif;
    letter-spacing: 2px;
    font-weight: 500;
}

.breadcrumb-item > a{
    text-decoration: none;
    color: #fff;
}

.active{
    color: #fab915;
}


.main_div_heading{
    background: #4a154b;
    border: none;
    clip-path: ellipse(75% 100% at center top);
    height: auto;
    min-height: 370px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main_div_heading > h1{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.1875;
    letter-spacing: -.8px;
    font-size: 4.8rem;
    color: #fff;
    font-weight: 700;
    margin-top: 77px;

    
}

.mat-form-field{
    width: 80%;
    font-size: 1.6rem;
}
.about_us{
    -webkit-appearance: none;
    appearance: none;
    background: 0 0;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    line-height: 1.2857;
    letter-spacing: 0.8px;
    font-size: -7.67rem;
    text-transform: uppercase;
    text-decoration: none;
    padding: 19px 40px 20px;
    display: block;
    transition: box-shadow 420ms cubic-bezier(0.165, 0.84, 0.44, 1), color 420ms cubic-bezier(0.165, 0.84, 0.44, 1), background 420ms cubic-bezier(0.165, 0.84, 0.44, 1);
    background-color: #fff;
    color: #611f69;
    fill: #611f69;
    width: 100%;
    margin-right: 45px;
    font-size: 1.4rem;
}
.about_us:hover{
    box-shadow: inset 0 0 0 2px #611f69;
}

.about_us_v:hover{
    box-shadow: inset 0 0 0 2px #fff;
}

.about_us_v{
    background-color: transparent;
    color: #fff;
    fill: #fff;
    appearance: none;
    background: 0 0;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-weight: 700;
    line-height: 1.2857;
    letter-spacing: .8px;
    font-size: 1.4rem;
    text-transform: uppercase;
    text-decoration: none;
    padding: 19px 40px 20px;
    display: block;
    width: 100%;
    transition: box-shadow 420ms cubic-bezier(.165,.84,.44,1),color 420ms cubic-bezier(.165,.84,.44,1),background 420ms cubic-bezier(.165,.84,.44,1);
    box-shadow: inset 0 0 0 1px #fff;
    margin-left: 23px;
}


.line{
    border-bottom: 1px solid rgba(74,21,75,.25);
    width: 100%;
}
.career_class{
    margin-top: -1.25rem;
border-radius: 100px;
background-color: #611f69;
padding: 0.8rem 1.6rem;
color: #fff;
line-height: 1.34rem;
letter-spacing: .2px;
font-family: Arial, Helvetica, sans-serif;
font-weight: 700;
font-size: 1.6rem;
}
.join_div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}
.form_div{
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sub_btn{
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    font-weight: 700;
    line-height: 1;
    outline: 0px;
    border-radius: 9007200000000000px;
    font-size: 18px;
    height: 40px;
    padding: 0px 16px;
    min-width: 96px;
    width: auto;
    max-width: none;
    background-color: #611f69;
    border: 2px solid #611f69;
    color: white;
    display: inline-flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-left: -237px;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.3s ease-in-out;
    margin-top: 25px;
}

.sub_btn:hover{
    background-color: rgb(74, 21, 75);
    border: 2px solid rgb(74, 21, 75);
    color: rgb(255, 255, 255);
}
.input{
    width: 80%;
    padding: 13px 10px;
    border: 1px solid rgba(0,0,0,.12);
    border-radius: 8px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #7A7A7A;
    
}
.input::-webkit-file-upload-button{
    visibility: hidden;
}
.input::after{
    content: "\f0c6";
    font-family: "FontAwesome";
    font-size: 20px;
    position: relative;
    right: -12px;
}


@media screen and (max-width:768px) {
    .breadcrumb_div{
        left: 26%;
    }

    .main_div_heading > h1{
        font-size: 3.2rem;
        margin-top: 41px;
        margin-bottom: 2rem;
    }

    .main_div_heading{
        clip-path: ellipse(105% 100% at center top);
        padding-bottom: 6rem!important;
    }

    .about_us{
        margin: 0 20px;
    }

    .about_us_v{
        margin: 0 20px;
    }
    .responsive{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
    }

    .mat-form-field{
        width: 100%;
    }

    .sub_btn{
        margin-left: 0;
    }

    .input{
        width: 100%;
    }
}