<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-lg-8 col-sm-12 he_di">
            <h1>Career</h1>
            <p>We are continuously on the lookout for talented and assiduous individuals who have a steely determination to excel in their career. When you become part of the Sinosef team, your opportunities are endless. Serving our customers through diverse business units, we offer challenging assignments on some of the world’s largest and most complex projects.</p>

            <ng-container *ngIf="posts && posts.length!==0">
                <h3 class="vacancies_head">Vacancies Open For</h3>
                <span class="vacancies_head_span" *ngFor="let post of posts; let i=index;">
                   {{i+1}}. {{post["Post Name"]}} 
                   <ng-container *ngIf="post['jobDescription']!== ''">
                   - 

                   </ng-container>

                   {{post['jobDescription']|| ''}}
                </span>
            </ng-container>

         
        </div>
        <div class="col-md-4 col-lg-4 col-sm-12 im_di">
            <img src="assets/images/michal-biernat-h0xEUQXzU38-unsplash.jpg" alt="" />
        </div>
    </div>

   
</div>



<div class="container">
    <div class="row f_d">
        <div class="line"> </div>
    </div>

    <div class="row main_div_row">
        <form [formGroup]="careerForm">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-sm-12 l_f_d">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Name</mat-label>
                        <input matInput placeholder="Name" formControlName="name">
                        <mat-error *ngIf="careerForm.get('name')?.touched && careerForm.get('name')?.errors?.['required']">Please Enter Your Name *</mat-error>
                      </mat-form-field>
                      <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Email" formControlName="email">
                        <mat-error *ngIf="careerForm.get('email')?.touched && careerForm.get('email')?.errors?.['required']">Please Enter Your Email *</mat-error>
                        
                      </mat-form-field>
                      <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Phone No</mat-label>
                        <input matInput placeholder="phone number" formControlName="phoneNumber">
                        <mat-error *ngIf="careerForm.get('phoneNumber')?.touched && careerForm.get('phoneNumber')?.errors?.['required']">Please Enter Your Phone Number *</mat-error>

                      </mat-form-field>
                </div>  
                <div class="col-md-6 col-lg-6 col-sm-12 r_f_d">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Address</mat-label>
                        <input matInput placeholder="address" formControlName="address">
                        <mat-error *ngIf="careerForm.get('address')?.touched && careerForm.get('address')?.errors?.['required']">Please Enter Your Address *</mat-error>
                      </mat-form-field>
                      <mat-form-field appearance="outline">
                        <mat-label>Post</mat-label>
                        <mat-select  formControlName="appliedPost">
                          <mat-option *ngFor="let post of posts" [value]="post['Post Name']">
                            {{post['Post Name']}}
                          </mat-option>
                        </mat-select>
                        <mat-error *ngIf="careerForm.get('appliedPost')?.touched && careerForm.get('appliedPost')?.errors?.['required']">Please Select Post You want to apply *</mat-error>
                      </mat-form-field>
                        <input style="height:89px; padding-top:18px" accept="application/vnd.openxmlformats-officedocument.wordprocessingml.document, application/pdf" placeholder="Upload Resume" type="file" (change)="fileSelected($event)">
                        <mat-error *ngIf="isFileSelected">Please Select File *</mat-error>
                </div>

                <button class="button-9" (click)="submitData()">Submit</button>
            </div>
        </form>
    </div>
</div>

<hr>