<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-lg-8 col-sm-12 he_di">
            <h1>Career</h1>
            <p>We are continuously on the lookout for talented and assiduous individuals who have a steely determination to excel in their career. When you become part of the Sinosef team, your opportunities are endless. Serving our customers through diverse business units, we offer challenging assignments on some of the world’s largest and most complex projects.</p>

            <p>
                A career at Sinosef Enterprises pvt ltd is more than just a job. When you join us, you join the Best Team in the industry that works to create a better future for all mankind. You will become part of one of the best construction company, and create a real impact that lasts. If you feel you are the right candidate, please forward your resume to info@sinosef.com or apply online by selecting a post below:
            </p>

         
        </div>
        <div class="col-md-4 col-lg-4 col-sm-12 im_di">
            <img src="assets/images/michal-biernat-h0xEUQXzU38-unsplash.jpg" alt="" />
        </div>
    </div>

   
</div>



<div class="container">
    <div class="row f_d">
        <div class="line"> </div>
    </div>

    <div class="row main_div_row">
        <form>
            <div class="row">
                <div class="col-md-6 col-lg-6 col-sm-12 l_f_d">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Name</mat-label>
                        <input matInput placeholder="Name">
                      </mat-form-field>
                      <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Email" >
                      </mat-form-field>
                      <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Phone No</mat-label>
                        <input matInput placeholder="phone number" >
                      </mat-form-field>
                </div>  
                <div class="col-md-6 col-lg-6 col-sm-12 r_f_d">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Address</mat-label>
                        <input matInput placeholder="address" >
                      </mat-form-field>
                      <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Applied Post</mat-label>
                        <input matInput placeholder="applied post" >
                      </mat-form-field>
                      <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Upload Resume</mat-label>
                        <input matInput placeholder="Upload Resume" >
                      </mat-form-field>
                      
                </div>

                <button class="button-9">Submit</button>
            </div>
        </form>
    </div>
</div>

<hr>