@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


:root{
    --primary-color-one:#078586;
    --heading-size-main:4rem;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    padding-top: 66px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.submit_btn{
    padding: 18px 84px 18px 50px;
    background: #ffee02;
    font-size: 20px;
    font-weight: 600;
    color: black;
    display: inline-flex;
    position: relative;
    border: 2px solid;
    border-color: #ffee02;
    align-items: center;
    transition: .3s ease-in-out;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 1.4px;
    
    
    }
    .submit_btn > i{
        width: 40px;
        height: 100%;
        position: absolute;
        top: 0;
        right: -14px;
        z-index: 1;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
    
    }
    
    .submit_btn:hover{
        color: #111;
        background-color: transparent;
    }
    
    .submit_btn > i::after{
        content: "";
        background: black;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
        transform: skew(-24deg,0deg);
        transition: .5s ease-in-out;
    }
    
    .submit_btn>i:hover::after{
        background: #ffee02;
    }
    
    .submit_btn > i:hover{
        color: #111;
        font-weight: 500;
    }
    
    .submit_btn::after{
        content: "";
        width: 30px;
        height: 100%;
        position: absolute;
        top: -2px;
        right: -32px;
        background: transparent;
        border-left: 0 solid transparent;
        border-right: 30px solid transparent;
        border-top: 65px solid #ffee02;
    }